version: '3.8'

services:
  # 1. Database Service
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. Redis Service
  redis:
    image: redis:7-alpine
    command: redis-server --save 60 1 --loglevel warning
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  # 3. Backend API (FastAPI)
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file: .env

  # 4. Worker Service
  worker:
      build: 
        context: ./worker  # This tells Docker to look in the worker folder
        dockerfile: Dockerfile
      restart: always
      env_file: .env
      depends_on:
        - db
        - redis
        
  # 5. Ingester Service
  ingester:
    build: ./ingester
    restart: always
    depends_on:
      redis:
        condition: service_healthy
    env_file: .env

  # 6. Frontend Dashboard
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    env_file: .env

volumes:
  postgres_data: